$font-size: 1.3rem;
$font-family: Raleway;
$font-family-emph: "Fredoka One";
$spacer: 1rem;

$color-primary: #f9ed69;
$color-secondary: #f08a5d;

$color-text: #212529;
$color-background: #fbf3f0;
$border-radius: 1rem;
$border-radius-box: $border-radius * 2;

body,
input {
  font-family: Raleway;
  font-size: $font-size;
  line-height: 1.3;
  color: $color-text;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: auto;
}

footer {
  background-color: $color-background;
  text-align: center;
  padding: $spacer * 0.5;
  font-size: $font-size * 0.8;
}

.container {
  width: 100wh;
  height: 100vh;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: $font-size * 2;
  font-family: $font-family-emph;
  text-align: center;
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
}
.note {
  font-size: $font-size * 0.8;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  flex: 1;
  padding: $spacer * 2;
}
.col-6 {
  flex: 0 0 50%;
  padding: $spacer * 2;
}
.col-reverse {
  order: -1;
}

.media img {
  width: 60%;
}

.calculator {
  img {
    width: 80%;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid $color-primary;
    padding: $spacer * 0.7;
    border-radius: $border-radius;
  }
  input:focus {
    outline: none !important;
  }

  .react-autosuggest__input--open {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .col-6 {
    padding-top: $spacer;
  }

  .emissions {
    font-size: $font-size * 1.2;
    height: $spacer * 17;
    background-color: $color-background;
    padding: $spacer * 3;
    border-top-left-radius: $border-radius-box;
    border-top-right-radius: $border-radius-box;
  }
  li {
    margin-bottom: $spacer * 2;
  }
  form {
    padding: $spacer * 1;
    background-color: $color-background;
    border-top-left-radius: $border-radius-box;
    border-bottom-left-radius: $border-radius-box;
    border-bottom-right-radius: $border-radius-box;
  }
}

.value {
  font-family: $font-family-emph;
  font-size: $font-size * 1.6;
  margin-bottom: $spacer;

  .label {
    font-family: $font-family;
    font-size: $font-size;
    margin-bottom: $spacer * 0.7;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  bottom: $spacer * 3.2;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid $color-primary;
  border-bottom: none;
  background-color: #fff;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: $spacer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $color-background;
}

.conclusion {
  .row {
    align-items: start;
  }
  .media {
    a img {
      padding-top: $spacer * 2;
      width: 70%;
    }
    img {
      width: 100%;
    }
  }
}
